<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="wasoko_invoice" id="wasoko_invoice">
			<module before="Magento_Backend" name="Wasoko_Invoice"/>
		</route>
	</router>
</config>
