<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weatherapi>
            <general>
                <url>https://api.openweathermap.org/data/2.5/weather</url>
            </general>
        </weatherapi>
    </default>
</config>
