<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PradeepToptal\CreateOrderApi\Api\ListallprodsManagementInterface"
                type="PradeepToptal\CreateOrderApi\Model\ListallprodsManagement"/>
    <preference for="PradeepToptal\CreateOrderApi\Api\ListallcustomersManagementInterface"
                type="PradeepToptal\CreateOrderApi\Model\ListallcustomersManagement"/>
    <preference for="PradeepToptal\CreateOrderApi\Api\CreateorderManagementInterface"
                type="PradeepToptal\CreateOrderApi\Model\CreateorderManagement"/>
    <preference for="PradeepToptal\CreateOrderApi\Api\AuthorizeManagementInterface"
                type="PradeepToptal\CreateOrderApi\Model\AuthorizeManagement"/>
</config>
