<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_invoice_save_commit_after">
        <observer name="sync_invoice_to_zra" instance="Wasoko\ZRAIntegration\Observer\SyncInvoice"/>
    </event>
    <event name="sales_order_creditmemo_save_commit_after">
        <observer name="sync_creditmemo_to_zra" instance="Wasoko\ZRAIntegration\Observer\SyncMemo"/>
    </event>
</config>
